@charset "UTF-8";

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: sans-serif;
  line-height: 1.2;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #666;
  text-decoration: none;
}
.weather {
  width: 1200px;
  margin: 50px auto;
}
.container {
  display: flex;
  flex-wrap: wrap; /* 自動換行(超過550px自動換) */
  justify-content: space-around;
}
.item {
  border: #666 1px solid;
  width: 550px; /* 利用每個寬度550 上面那個就會自動換行 */
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.item h3 {
  background-color: #adacac;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.content {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
